
.chart-container {

  justify-content: center;
  height: 300px;

  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}

.complete-chart{
  padding:150px;
}

.bar {
  margin: 0 50px;
  background-color: #F5A003;

  transition: height 0.5s;
  width: 60px;
}

.data-source{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
}

.link{
  font-weight: bold;
  color: #545691
}

.scale-line {
  margin-left: 25px;
  position: absolute;
  height: 1px;
  width: 600px;

  background-color: #ccc;
  margin-bottom: 10px;
}

.scale-label{
  text-align: right;
  position: absolute;
  top:-10px;
  left: -15px
}

.scale-container{
  position: absolute;
  left: 400px
}

.line0{
  height: 1px;
}

.line1{
  height: 60px;
}

.line2{
  height: 120px;
}

.line3{
  height:180px;
}

.line4{
  height: 240px;
}

.line5{
  height:300px;
}