.contact-title{
  font-family: Roboto;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 16px;
}

.contact-text{
  font-family: Roboto;
  font-size: 20px;

  margin-bottom:16px;
}

.contact-master{
  padding:50px 100px 50px 100px;
  
}

.how-to-contact{
  font-family: Roboto;
  margin:2px 2px;
}

.contact-info-master{
  
  display: inline-block;

  flex:1;
  margin-right:20px;

  font-size: 20px;
  background-color: #545691;
  color:white;
  padding: 20px;
  border-radius: 20px;
}

.contact-more-info{
  background-color:#C0CCF7;

  flex:1;
  margin-left:20px;
  padding:20px;
  border-radius: 20px;

  font-family: Roboto;
  font-size: 20px;
  
}

.contact-info{
  display: flex;
}

.social-media-follow{
  display:block;
}

.icons{
  display: inline-block;
  margin-left: 10px;
  margin-right:10px;
}

.contact-general{
  margin-bottom: 100px;;
}